<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<!-- Standard Meta -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Site Properities -->
	<title><%= this.docpad.getTemplateData().getPreparedTitle() %></title>
	<meta name="description" content="<%= this.getPreparedDescription() %>" />
	<meta name="keywords" content="<%= this.getPreparedKeywords() %>" />

	<!-- DocPad Meta -->
	<%- this.docpad.getBlock('meta').toHTML() %>

	<!-- DocPad Styles + Our Own -->
	<%- this.docpad.getBlock('styles').add(this.docpad.ssite.styles).toHTML() %>

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
</head>
<body>
	<h1><%= this.document.title %></h1>
    <%- this.docpad.content %>
    <!-- DocPad Scripts + Our Own -->
	<%- this.docpad.getBlock('scripts').add(this.docpad.site.scripts).toHTML() %>
</body>
</html>